{extend name="public/main" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">{$title}</div>
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="form1">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="name" id="name" placeholder="请输入关键字" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="search">搜索</button>
                    <button class="layui-btn" data-type="all">全部</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <?php if(in_array('admin/AuthRule/form',$ca_path_arr)){?>
                    <button class="layui-btn" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
                    <?php }?>
                    <?php if(in_array('admin/AuthRule/destroy',$ca_path_arr)){?>
                    <button class="layui-btn layui-btn-danger" lay-event="batchdel"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
                    <?php }?>
                </div>
            </script>
            <script type="text/html" id="checkStatus">
                <input type="checkbox" name="{{d.id}}" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" {{ d.status== 1 ? 'checked' : '' }}>
            </script>
            <table id="dataTable" lay-filter="dataTable"></table>
            <script type="text/html" id="options">
                <?php if(in_array('admin/AuthRule/form',$ca_path_arr)){?>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <?php }?>
                <?php if(in_array('admin/AuthRule/destroy',$ca_path_arr)){?>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                <?php }?>
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['jquery','table','form','layer'], function(){
        var $ = layui.$,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;
        table.render({
            elem: '#dataTable',
            height: 'full-180',
            url: "{:url('AuthRule/data')}", //数据接口
            method: "post",
            page: true, //开启分页
            autoSort: true,
            even: true,
            limit: 20,
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print',{
                title: '加载',
                layEvent: 'reload',
                icon: 'layui-icon-refresh-3',
            }],
            cols: [[
                {type: "checkbox",},
                {field: "id", width: 80, align: 'center', title: "序号",sort: true,},
                {field: "title",title: "权限名称"},
                {field: "name", align: 'center', title: "路径名称"},
                {field: "sort", align: 'center', title: "排序",edit:'text',sort: true,},
                {field: "status", align: 'center',templet: '#checkStatus', unresize: true, title: "状态"},
                {field: "create_time", align: 'center', title: "创建时间",},
                {title: "操作", width: 350, align: "center", fixed: "right", toolbar: "#options"}
            ]],
            done : function(res, curr, count)
            {
                if (res.count == 0)
                {
                    $(".layui-table-main").html('<div class="layui-none">暂无数据</div>');
                }
            },
            id:'dataTable',
            text: "对不起，加载出现异常！"
        });
        //工具栏事件
        table.on('toolbar(dataTable)', function(obj){
            var checkStatus = table.checkStatus('dataTable');
            checkData = checkStatus.data; //得到选中的数据
            switch(obj.event){
                case 'add':
                    //添加
                    layer.open({
                        type: 2,
                        title: '添加权限',
                        content: "{:url('AuthRule/form')}",
                        area: ['90%', '70%'],
                        maxmin: true,
                        btn: ['确定', '取消'],
                        btnAlign: 'c',
                        yes: function(index, layero){
                            var iframeWindow = window['layui-layer-iframe'+ index]
                                ,submitID = 'submit'
                                ,submit = layero.find('iframe').contents().find('#'+ submitID);
                            //监听提交
                            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                                //提交 Ajax 成功后，静态更新表格中的数据
                                layer.msg(JSON.stringify(data.field));
                                var index = layer.msg('提交中，请稍候', {icon: 16, time: false, shade: 0.8});
                                setTimeout(function () {
                                    $.ajax({
                                        type: "post",
                                        url: "{:url('AuthRule/form')}",
                                        data: data.field,
                                        success: function (res) {
                                            if (res['code'] == 1) {
                                                layer.msg(res['msg'], {icon: 1});
                                                setTimeout(function () {
                                                    var index = parent.layer.getFrameIndex(window.name);
                                                    parent.layer.close(index);
                                                    window.location.reload();
                                                    layer.close(index);
                                                    table.reload('dataTable');
                                                }, 1000);
                                            } else {
                                                layer.msg(res['msg'], {icon: 2});
                                            }
                                        }
                                    });
                                }, 2000);
                                // return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                            });
                            submit.trigger('click');
                        }
                    });
                    break;
                case 'batchdel':
                    var ids = [];
                    if(checkData.length === 0){
                        return layer.msg('请选择数据');
                    }
                    if (checkData.length > 0) {
                        $.each(checkData, function (index, element) {
                            ids.push(element.id)
                        })
                    }
                    layer.confirm('确定删除吗？', function(index) {
                        $.post("{:url('AuthRule/destroy')}", {_method: 'delete', ids: ids}, function (result) {
                            if (result.code == 1) {
                                table.reload('dataTable');
                                layer.close(index);
                                layer.msg(result.msg, {icon: 1});
                            }else{
                                table.reload('dataTable');
                                layer.close(index);
                                layer.msg(result.msg, {icon: 2});
                            }
                        });
                    });
                    break;
                case 'reload':
                    table.reload('dataTable', {
                        page: {curr: 1}
                        //,height: 300
                        //,url: 'x'
                    });
                    break;
            };
        });
        //监听工具条
        table.on('tool(dataTable)', function (obj) { //注：tool是工具条事件名，dataTable是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data, //获得当前行数据
                layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'del') {
                layer.confirm('确认删除吗？', function (index) {
                    $.post("{:url('AuthRule/destroy')}", {_method: 'delete', ids: [data.id]}, function (result) {
                        if (result.code == 1) {
                            obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            layer.msg(result.msg, {icon: 1});
                        }else{
                            layer.close(index);
                            layer.msg(result.msg, {icon: 2});
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                layer.open({
                    type: 2,
                    title: '编辑权限信息',
                    content: "{:url('AuthRule/form')}?id=" + data.id,
                    area: ['90%', '70%'],
                    maxmin: true,
                    btn: ['确定', '取消'],
                    btnAlign: 'c',
                    yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                            //提交 Ajax 成功后，静态更新表格中的数据
                            layer.msg(JSON.stringify(data.field));
                            var index = layer.msg('提交中，请稍候', {icon: 16, time: false, shade: 0.8});
                            setTimeout(function () {
                                $.ajax({
                                    type: "post",
                                    url: "{:url('AuthRule/form')}",
                                    data: data.field,
                                    success: function (res) {
                                        if (res['code'] == 1) {
                                            layer.msg(res['msg'], {icon: 1});
                                            setTimeout(function () {
                                                var index = parent.layer.getFrameIndex(window.name);
                                                parent.layer.close(index);
                                                window.location.reload();
                                                layer.close(index);
                                                table.reload('dataTable');
                                            }, 1000);
                                        } else {
                                            layer.msg(res['msg'], {icon: 2});
                                        }
                                    }
                                });
                            }, 2000);
                        });
                        submit.trigger('click');
                    }
                });
            }
        });
        //监听状态修改
        form.on('switch(status)', function(data){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('state')}",{id:data.elem.name},function(res){
                layer.close(loading);
                if(res.code>0){
                    layer.msg(res.msg,{time:1000,icon:1});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        });
        /* 监听单元格编辑 */
        table.on('edit(dataTable)', function(obj){
            $.post("{:url('edit')}",obj.data,function(res){
                if(res.code>0){
                    layer.msg(res.msg,{time:1000,icon:1});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
                table.reload('dataTable');
            });
        });
        var active = {
            //搜索
            search: function () {
                //执行重载
                table.reload('dataTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: form.val('form1'),
                });
            },
            //全部
            all: function () {
                //执行重载
                table.reload('dataTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: form.val('form1', {name: '',}),
                });
            },
        };
        //点击搜索
        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{/block}

