{extend name="public/base" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">{$title}</div>
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="name" id="name" placeholder="请输入用户名" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="email" id="email" placeholder="请输入邮箱" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="sex" id="sex">
                            <option value="">请选择性别</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" data-type="search">搜索</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn" lay-event="add">添加</button>
                    <button class="layui-btn layui-btn-danger" lay-event="batchdel">批量删除</button>
                    <button class="layui-btn " lay-event="import">导入Excel</button>
<!--                    <a class="layui-btn layuiadmin-btn-admin " href="{:url('admin/outExcel')}">导出Excel</a>-->
<!--                    <a class="layui-btn layuiadmin-btn-admin " href="{:url('admin/mail')}">发送邮件</a>-->
                </div>
            </script>
            <table id="dataTable" lay-filter="dataTable"></table>
            <script type="text/html" id="picTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.pic }}>
            </script>
            <script type="text/html" id="options">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail"><i
                        class="layui-icon layui-icon-engine"></i>查看</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                {{#  if(d.name != 'admin'){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-edit"></i>删除</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['jquery', 'table', 'form', 'layer'], function () {
        var $ = layui.$,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;
        //用户表格初始化
        table.render({
            elem: '#dataTable',
            height: $(window).height() - 150,
            url: "{:url('admin/data')}", //数据接口
            method: "post",
            page: true, //开启分页
            autoSort: true,
            loading: false,
            totalRow: true,
            limit: 18,
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print',{
                title: '加载',
                layEvent: 'reload',
                icon: 'layui-icon-refresh-3',
            }],
            cols: [[
                {
                    checkbox: true,
                    fixed: 'left'
                },
                {
                    field: 'id',
                    title: '序号',
                    sort: true,
                    align: 'center',
                    width: 80
                },
                {
                    field: 'pic',
                    title: '头像',
                    align: 'center',
                    templet: '#picTpl',
                    width: 120,
                },
                {
                    field: 'name',
                    title: '账号',
                    align: 'center',
                    width: 120,
                },
                {
                    field: 'contacts',
                    title: '姓名',
                    align: 'center',
                    width: 120,
                },
                {
                    field: 'role_name',
                    title: '用户类型',
                    align: 'center',
                    width: 120,
                },
                {
                    field: 'sex',
                    title: '性别',
                    align: 'center',
                    width: 60,
                    templet: function (d) {
                        if (d.sex == 1) {
                            return '男';
                        } else {
                            return '女';
                        }
                    }
                },
                {field: 'email', title: '邮箱', align: 'center', width: 160,edit: 'text', templet: function(d){
                        return '<em>'+ d.email +'</em>'
                }},
                {field: 'phone', title: '手机', align: 'center', width: 120,},
                {field: 'area', title: '地址', align: 'center', width: 200,},
                {field: 'create_time', title: '创建时间', align: 'center',width: 200,},
                {title: "操作", width: 260, align: "center",  toolbar: "#options"}
            ]],
            id: "dataTable",
            // where: {
            //     token: layui.data('layuiAdmin').token
            // },
            text: "对不起，加载出现异常！"
        });
        //工具栏事件
        table.on('toolbar(dataTable)', function(obj){
            var checkStatus = table.checkStatus('dataTable'),
                checkData = checkStatus.data; //得到选中的数据
            switch(obj.event){
                case 'add':
                    //添加
                    layer.open({
                        type: 2,
                        title: '添加管理员',
                        content: "{:url('admin/form')}",
                        area: ['90%', '90%'],
                        skin: 'layui-layer-molv',
                        maxmin: true,
                        // btn: ['确定', '取消'],
                        btnAlign: 'c',
                        end: function () {
                            table.reload('dataTable');
                        }
                    });
                    break;
                case 'batchdel':
                    var ids = [];
                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }
                    if (checkData.length > 0) {
                        $.each(checkData, function (index, element) {
                            ids.push(element.id)
                        })
                    }
                    layer.confirm('确定删除吗？', function (index) {
                        $.post("{:url('admin/destroy')}", {_method: 'delete', ids: ids}, function (result) {
                            if (result.code == 1) {
                                table.reload('dataTable');
                            }
                            layer.close(index);
                            layer.msg(result.msg, {icon: 6})
                        });
                    });
                    break;
                case 'import':
                    layer.open({
                        type: 2,
                        title: '导入Excel',
                        content: "{:url('admin/import')}",
                        area: ['40%', '40%'],
                        maxmin: true,
                        btn: ['确定', '取消'],
                        btnAlign: 'c',
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submitID = 'submit'
                                , submit = layero.find('iframe').contents().find('#' + submitID);
                            //监听提交
                            iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                //提交 Ajax 成功后，静态更新表格中的数据
                                layer.msg(JSON.stringify(data.field));
                                var index = layer.msg('提交中，请稍候', {icon: 16, time: false, shade: 0.8});
                                setTimeout(function () {
                                    $.ajax({
                                        type: "post",
                                        url: "{:url('admin/import')}",
                                        data: data.field,
                                        success: function (data) {
                                            if (data['code'] == 1) {
                                                layer.msg(data['msg']);
                                                setTimeout(function () {
                                                    var index = parent.layer.getFrameIndex(window.name);
                                                    parent.layer.close(index);
                                                    window.location.reload();
                                                    layer.close(index);
                                                    table.reload('dataTable');
                                                }, 1000);
                                            } else {
                                                layer.msg(data['msg']);
                                            }
                                        }
                                    });
                                }, 2000);
                            });
                            submit.trigger('click');
                        }
                    });
                    break;
                case 'reload':
                    table.reload('dataTable', {
                        page: {curr: 1}
                    });
                    break;
                // case 'getCheckLength':
                //     var data = checkStatus.data;
                //     layer.msg('选中了：'+ data.length + ' 个');
                //     break;
                // case 'isAll':
                //     layer.msg(checkStatus.isAll ? '全选': '未全选')
                //     break;
                // case 'LAYTABLE_TIPS':
                //     layer.alert('Table for layui-v'+ layui.v);
                //     break;
            };
        });
        //监听工具条
        table.on('tool(dataTable)', function (obj) { //注：tool是工具条事件名，dataTable是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data, //获得当前行数据
                layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'del') {
                layer.confirm('确认删除吗？', function (index) {
                    $.post("{:url('admin/destroy')}", {_method: 'delete', ids: [data.id]}, function (result) {
                        if (result.code == 1) {
                            obj.del(); //删除对应行（tr）的DOM结构
                        }
                        layer.close(index);
                        layer.msg(result.msg, {icon: 6})
                    });
                });
            } else if (layEvent === 'edit') {
                layer.open({
                    type: 2,
                    title: '编辑用户信息',
                    content: "{:url('admin/form')}?id=" + data.id,
                    area: ['90%', '90%'],
                    maxmin: true,
                    fixed: false, //不固定
                    closeBtn: 1,
                    end: function () {
                        table.reload('dataTable');
                    }
                });
            } else if (layEvent === 'detail') {
                layer.open({
                    type: 2,
                    title: '用户详情信息',
                    content: "{:url('admin/show')}?id=" + data.id,
                    area: ['90%', '90%'],
                    maxmin: true,
                    btn: ['确定', '取消'],
                    btnAlign: 'c',
                    yes: function (index, layero) {
                        layer.close(index);
                        table.reload('dataTable');
                    }
                });
            }
        });
        //事件
        var active = {
            //搜索
            search: function () {
                //执行重载
                table.reload('dataTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        name: $('#name').val(),
                        email: $('#email').val(),
                        sex: $('#sex').val(),
                    }
                });
            },
           /* //删除
            batchdel: function () {
                var ids = [];
                var checkStatus = table.checkStatus('dataTable')
                    , checkData = checkStatus.data; //得到选中的数据
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                if (checkData.length > 0) {
                    $.each(checkData, function (index, element) {
                        ids.push(element.id)
                    })
                }
                layer.confirm('确定删除吗？', function (index) {
                    $.post("{:url('admin/destroy')}", {_method: 'delete', ids: ids}, function (result) {
                        if (result.code == 1) {
                            table.reload('dataTable');
                        }
                        layer.close(index);
                        layer.msg(result.msg, {icon: 6})
                    });
                });
            },
            //添加
            add: function () {
                layer.open({
                    type: 2,
                    title: '添加管理员',
                    content: "{:url('admin/form')}",
                    area: ['90%', '90%'],
                    maxmin: true,
                    // btn: ['确定', '取消'],
                    btnAlign: 'c',
                    end: function () {
                        table.reload('dataTable');
                    }
                });
            },
            //导入
            import: function () {
                layer.open({
                    type: 2,
                    title: '导入Excel',
                    content: "{:url('admin/import')}",
                    area: ['40%', '40%'],
                    maxmin: true,
                    btn: ['确定', '取消'],
                    btnAlign: 'c',
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            //提交 Ajax 成功后，静态更新表格中的数据
                            layer.msg(JSON.stringify(data.field));
                            var index = layer.msg('提交中，请稍候', {icon: 16, time: false, shade: 0.8});
                            setTimeout(function () {
                                $.ajax({
                                    type: "post",
                                    url: "{:url('admin/import')}",
                                    data: data.field,
                                    success: function (data) {
                                        if (data['code'] == 1) {
                                            layer.msg(data['msg']);
                                            setTimeout(function () {
                                                var index = parent.layer.getFrameIndex(window.name);
                                                parent.layer.close(index);
                                                window.location.reload();
                                                layer.close(index);
                                                table.reload('dataTable');
                                            }, 1000);
                                        } else {
                                            layer.msg(data['msg']);
                                        }
                                    }
                                });
                            }, 2000);
                        });
                        submit.trigger('click');
                    }
                });
            }*/
        };
        //点击搜索
        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{/block}