{extend name="../layouts/admin" /} {block name="content2"}
<fieldset class="layui-elem-field layui-field-title">
    <legend>基本资料</legend>
</fieldset>
<form class="layui-form layui-card-body" pad15 style="margin-bottom: 30px">
    <div class="layui-form-item">
        <label class="layui-form-label">角色类型：</label>
        <div class="layui-input-inline">
            <select name="group_id" lay-verify="required" lay-search="">
                <option value="{$info.group_id}">{$info.title}</option>
                <!--<option value="">&#45;&#45;请选择角色&#45;&#45;</option>
                {foreach name="role" item="rl"}
                <option {eq name="info.group_id" value="$rl.id" }selected{else/}disabled="disabled"{/eq} value="{$rl.id}">{$rl.title}</option>
                {/foreach}-->
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"><b style="color: red;">★</b> 当前角色不可更改为其它角色</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号：</label>
        <div class="layui-input-inline">
            <input type="text" name="username" placeholder="请输入账号" readonly lay-verify="required"
                value="{$info.username}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><b style="color: red;">★</b> 不可修改。一般用于后台登入名</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名：</label>
        <div class="layui-input-inline">
            <input type="text" name="fullname" autocomplete="off" lay-verify="required" placeholder="请输入姓名"
                value="{$info.fullname}" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><b style="color: red;">★</b> 必填</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别：</label>
        <div class="layui-input-inline">
            <input type="radio" name="sex" {eq name="info.sex" value="1" }checked="" {else/}checked="" {/eq} title="男"
                value="1">
            <input type="radio" name="sex" {eq name="info.sex" value="2" }checked="" {else/}{/eq} title="女" value="2">
        </div>
    </div>
    <!-- <div class="layui-form-item">
        <label class="layui-form-label">头像：</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="uploadImg">上传图片</button>
                <input type="hidden" name="pic" id="uploadImg2" value="{$info.pic}" lay-verify="required">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="uploadImg3" src="{$info.pic}" style="height: 100%">
                    <p id="uploadImgText"></p>
                </div>
            </div>

        </div>
    </div> -->
    <div class="layui-form-item" id="area-picker">
        <div class="layui-form-label">选择地区：</div>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="province" class="province-selector" data-value="{$info.province}" lay-filter="province-1">
                <option value="">请选择省</option>
            </select>
        </div>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="city" class="city-selector" data-value="{$info.city}" lay-filter="city-1">
                <option value="">请选择市</option>
            </select>
        </div>
        <div class="layui-input-inline" style="width: 200px;">
            <select name="county" class="county-selector" data-value="{$info.county}" lay-filter="county-1">
                <option value="">请选择县/区</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码：</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" lay-verify="phone|required" autocomplete="off" placeholder="请输入手机号码"
                value="{$info.phone}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电子邮箱：</label>
        <div class="layui-input-inline">
            <input type="text" name="email" lay-verify="email|required" autocomplete="off" placeholder="请输入电子邮箱"
                value="{$info.email}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" name="remarks" lay-verify="content" id="remarks"
                class="layui-textarea">{$info.remarks}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block layui-layer-btn-c">
            <button class="layui-btn" lay-submit lay-filter="demo">确认修改</button>
        </div>
    </div>
</form>
{/block} {block name="script"}
<script>
    layui.use(['form', 'upload', 'layedit', 'common', 'layarea'], function () {
        var $ = layui.$,
            form = layui.form,
            upload = layui.upload,
            layarea = layui.layarea,
            common = layui.common,
            layedit = layui.layedit;
        layarea.render({
            elem: '#area-picker',
            // change: function (res) {
            //     //选择结果
            //     console.log(res);
            // }
        });
        common.uploadImage('uploadImg', 'uploadImg2', 'uploadImg3', "{:url('Uploads/uploadImage')}");
        common.submit('demo', "{:url('admin/info')}");
    })
</script>
{/block}