{extend name="../layouts/admin" /} {block name="content2"}
<form class="layui-form" id="form1" lay-filter="">
    <div class="layui-form-item">
        <label class="layui-form-label">原密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="password" lay-verify="pass|required" lay-verType="tips" autocomplete="off"
                id="LAY_password" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="repassword" lay-verify="repass|required" lay-verType="tips" autocomplete="off"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-layer-btn-l">
        <div class="layui-input-block">
            <button class="layui-btn layui-layer-btn0" lay-submit="" lay-filter="demo">提交</button>
        </div>
    </div>
</form>
{/block} {block name="script"}
<script>
    //Demo
    layui.use(['form', 'jquery', 'common'], function () {
        var form = layui.form,
            common = layui.common,
            $ = layui.$;
        form.verify({
            // user_name: [/^[a-zA-Z0-9_-]{8,18}$/,'用户名必须4到16位（字母，数字，下划线，减号）'],
            pass: [/^[\S]{6,12}$/, "密码必须6到12位，且不能出现空格"],
            repass: function (t) {
                if (t !== $("#LAY_password").val()) return "两次密码输入不一致"
            }
        });
        common.submit('demo ', "{:url('admin/password')}");
    });
</script>
{/block}