{extend name="../layouts/admin" /}
{block name="content2"}
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">账号：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux">{$info.username}</div>
        </div>
        <label class="layui-form-label">姓名：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux">{$info.fullname}</div>
        </div>
        <label class="layui-form-label">性别：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux">{$info.sex}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux">{$info.phone}</div>
        </div>
        <label class="layui-form-label">电子邮箱：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux">{$info.email}</div>
        </div>
        <label class="layui-form-label">选择地区：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux" style="width: 280px;">{$info.area}</div>
        </div>
    </div>
    <!--<div class="layui-form-item">-->
    <!--<label class="layui-form-label">头像：</label>-->
    <!--<div class="layui-input-block">-->
    <!--<div class="layui-form-mid layui-word-aux">-->
    <!--<img class="layui-upload-img" id="uploadImg3" src="{$info.pic}" style="height: 100%">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型：</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid layui-word-aux">{$info.title}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">
                <?php
                                echo html_entity_decode($info['remarks'], 1)
                            ?>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="{$info.id}">
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
    </div>
</div>
{/block}
{block name="script"}

{/block}