<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title|default='后台管理平台'}</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/css/common.css" media="all">
    <!--[if lt IE 9]>
    <script src="__STATIC__/plugs/js/html5.min.js"></script>
    <script src="__STATIC__/plugs/js/respond.min.js"></script>
    <![endif]-->
    {block name="style"} {/block}
</head>
<body>
    {block name="content"}{/block}
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                {block name="content2"}{/block}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
    <script>
        layui.config({
            base: "__STATIC__/plugs/",
        }).extend({ //设定组件别名 //主入口模块(名字同样根据自己的结构改动)
            common: 'js/common',
            index: 'js/index',
            echarts: 'echarts/echarts',
            echartsTheme: 'echarts/echartsTheme',
            tinymceTextarea: 'tinymce/tinymceTextarea',
            layarea: 'select/layarea',
            iconPicker: 'iconPicker/iconPicker',
        }).use(['common', 'index', 'echarts', 'echartsTheme', 'tinymceTextarea', 'layarea','iconPicker']);
    </script>
    {block name="script"}{/block}
    {}{}
</body>
</html>